@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&family=Squada+One&display=swap');

.app-section {
  padding: 30px;
}

.app-container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.app-header {
  height: 50px;
  border-bottom: 1px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-family: 'Sigmar One', cursive;
}

.app-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 16px;
  row-gap: 16px;
  /* border: 2px solid greenyellow; */
}

.crypto-item {
  display: block;
  width: 100%;
  /* border: 2px solid red; */
  padding-bottom: 10%;
}

.img-crypto {
  width: 100%;
  height: 100%;
}